__pycache__
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
.env

.pytest_cache/
.coverage
coverage.xml
htmlcov/
sonar-project.properties

.git/
.gitignore

.vscode/
.idea/
.DS_Store

Dockerfile
.dockerignore
jenkins/